@model Web_11.Models.data.Tintuc

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Tintuc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TieuDe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Avatar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TomTat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TomTat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LuotTuongTac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LuotTuongTac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LuotXem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LuotXem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThaiHienThi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThaiHienThi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdTinTuc">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
