@model TinTucModel
@{
    ViewData["Title"] = "Home Page";
    var index = 1;
}

    <div class="row">
        <div class=" header-data container-fluid ">
            <form class="form-inline" action="#">
                <h3>Quản trị tin tức</h3>
                <input class="form-control ml-auto d-none d-sm-block " type="text" placeholder="Search"
                       style="width: 30% !important;border-radius: 8px; display:inline-block;">
                <button class="btn btn-success d-none d-sm-block" type="submit">Search</button>
            </form>
        </div>
        <!--Table Data-->
        <div class="container-fluid" style="font:menu">
            <div class="row padding">
                <div class="">
                    <div class="form-group">
                        <label for="sel1">Thời gian:</label>
                        <select class="form-control" id="sel1" style="font-size: x-small;">
                            @foreach (var p in Model.ListLoc)
                            {
                                <option value="@p.value">@p.display</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="">
                    <div class="form-group">
                        <label for="sel2">Trạng thái:</label>
                        <select class="form-control" id="sel2" style="font-size: x-small;">
                            @foreach (var p in Model.ListTrangThai)
                            {
                                <option value="@p.value">@p.display</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="">
                    <div class="form-group">
                        <label for="sel3">Sắp xếp theo:</label>
                        <select class="form-control" id="sel3" style="font-size: x-small;">
                            @foreach (var p in Model.ListSapXep)
                            {
                                <option value="@p.value">@p.display</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="ml-auto"></div>
                <div class="ml-auto">
                    <button type="button" class=" btn btn-outline-dark ml-auto " id="btn-refresh-new">
                        <i class="fas fa-sync"></i> Cập Nhật
                    </button>
                    <a asp-action="CreateTinTuc" class=" btn btn-outline-success ml-auto">
                        <i class="far fa-plus-square"></i> Thêm tin mới
                    </a>
                </div>
            </div>
        </div>
        <a asp-action="CreateTinTuc" class=" btn btn-outline-success ml-auto">CreateTinTuc </a>
        <a asp-action="CreateNoiDung" class=" btn btn-outline-success ml-auto"> CreateNoiDung</a>
        <a asp-action="CreateHinhAnh" class=" btn btn-outline-success ml-auto"> HinhAnh</a>
        <a asp-action="CreateHashtag" class=" btn btn-outline-success ml-auto"> HashTag</a>
        <a asp-action="CreateSubTinTuc" class=" btn btn-outline-success ml-auto"> Subtt</a>
        <div class="container col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>ID</th>
                            <th>Tiêu Đề</th>
                            <th>Nội Dung</th>
                            <th>Trạng Thái</th>
                            <th>Lượt tương tác</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Tintucs)
                        {
                            <tr>
                                <td>@index @{index = index + 1;}</td>
                                <td>@item.IdTinTuc</td>
                                <td>@item.TieuDe</td>
                                <td>@item.TomTat</td>
                                <td>
                                    @{if (item.TrangThaiHienThi == "Hiển Thị")
                                        {<input type="checkbox" id="idHienThi" name="CB-HienThi" value="HienThi" checked>
                                            <label for="idHienThi">Hiển thị</label>}
                                        else
                                        { <input type="checkbox" id="idHienThi" name="CB-HienThi" value="HienThi">
                                            <label for="idHienThi">Hiển thị</label> }
                                    }
                                </td>
                                <td>@item.LuotTuongTac</td>
                                <td>
                                    <div>
                                        <a asp-action="Edit" asp-route-id="@item.IdTinTuc" class="btn btn-outline-dark ">
                                            <i class="far fa-edit"></i> Sửa
                                        </a>
                                        <a asp-action="Delete" asp-route-id="@item.IdTinTuc" class="btn btn-outline-danger ">
                                            <i class="fas fa-trash-alt"></i> Xoá
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <!--Table navi-->
            <div class="ml-auto col-11 col-md-8">
                <ul class="pagination">
                    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
<hr>
